*/src/.vs/**
*/src/Binaries/**
*/src/Content/**
*/src/Intermediate/**
*.vsidx
*.lock
src/EcoVille/.vs/EcoVille/v17/.suo
*.db
src/EcoVille/.vs/EcoVille/v17/fileList.bin
src/EcoVille/.vsconfig
*.target
*.dll
*.pdb
*.modules
*.ini
*.uasset
*.umap
*.sln
*.uproject
*.bin
*.deps
*.uhtpath
*.uhtmanifest
*.dat
*.pch
*.response
*.res
*.obj
*.exp
*.lib
*.vcxproj
*.filters
*.user
*.ush
.DS_Store
